* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}


body {
background-color: #e5e7eb;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}


.container {
background-color: white;
padding: 30px;
border-radius: 10px;
width: 350px;
}


.input-box {
display: flex;
margin-bottom: 20px;
}


input {
flex: 1;
padding: 10px;
}


button {
padding: 10px 15px;
background-color: #2563eb;
color: white;
}